.quiz {
    display: flex;
    flex-direction: column;

    margin-bottom: 5rem;

    &__info {
        display: flex;
        justify-content: space-between;

        &--inversed {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 5rem;
        }
    }

    &__category {
        align-self: center;
        color: $color-primary;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        padding: .6rem;
    }

    &__presentation {
        width: 50%;
        margin-right: 10rem;

        &--inversed {
            width: 50%;
        }
    }

    &--inversed {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
    }

    &__image {
        max-width: 20rem;
    }

    &__doQuiz{
        color: $color-primary;
    }

}