.quizInfo {
    color: $color-black;

    &__title {
        text-align: center;
        color: $color-primary;
        font-size: 2.4rem;
        font-weight: 600;
    }

    &__description {
        display: flex;
        margin-top: 5rem;
        justify-content: center;

        @media only screen and (max-width: $bp-small) {
            display: block;
            text-align: center;
        }
    }

    &__category {
        margin-right: 2rem;
        color: $color-primary;
        font-size: 2rem;
        min-width: 25rem;

        @media only screen and (max-width: $bp-small) {
            margin: 0;
            min-width: auto;
        }

    }

    &__status {

        font-size: 1.8rem;
        font-weight: 600;
        min-width: 25rem;

        &--success {
            color: $color-success;
        }

        &--fail {
            color: $color-fail;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 1.3rem;
            display: inline-block;
            min-width: auto;
        }
    }

    &__result {
        font-size: 1.8rem;
        font-weight: 600;

        &--success {
            color: $color-success;
        }

        &--fail {
            color: $color-fail;
        }

        @media only screen and (max-width: $bp-small) {
            padding: .2rem;
            display: inline-block;

        }
    }

    &__noResult {
        margin-top: 5rem;
    }

}