$color-primary : #930202;
$color-primary-light : lighten($color-primary, 10%);

$color-secondary : #f9d9b8;
$color-success : #00A84D;
$color-fail : #d30000;

$color-grey-dark: #777;
$color-black: #000000;

// RESPONSIVE BREAKPOINTS
$bp-largest: 72.5em ;// 1160 / 16 = 72.5em 1160px
$bp-large: 62.5em ;// 1000 / 16 = 62.5em 1000px
$bp-largeMedium: 58.7em ;// 940 / 16 = 58.75em 940px
$bp-medium: 50em ;// 800 / 16 = 50 800px
$bp-small: 40.6em ;// 650 / 16 = 40.625 650px