<div class="form">
  <% if (data.askConnect === 'sign up') {%>
  <div class="form__signUp">
    <div class="form__error" id="formError"></div>
    <div class="form__success" id="formSuccess"></div>
    <form action="#" method="post" id="formLogin">
      <div class="form__field">
        <label for="pseudo" class="form__label">Pseudo :</label>
        <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" />
      </div>
      <div class="form__field">
        <label for="Email" class="form__label">Email :</label>
        <input
          type="email"
          name="Email"
          id="Email"
          placeholder="Email"
          required
        />
      </div>
      <div class="form__field">
        <label for="password" class="form__label">Mot de passe :</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="********"
        />
      </div>
      <div class="form__field">
        <label for="confirmPassword" class="form__label">
          Confirmation mot de passe :
        </label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="********"
        />
      </div>
      <div class="form__field">
        <button type="submit" class="btn form__btn" id="btnInscription">Inscription</button>
      </div>
    </form>
  </div>
  <% }else {%>
  <div class="form__login">
    <div class="form__error" id="formError"></div>
    <form action="#" method="post">
      <div class="form__field">
        <label for="idConnect" class="form__label">Email / Pseudo :</label>
        <input
          type="text"
          name="idConnect"
          id="idConnect"
          placeholder="Email / Pseudo"
          required
        />
      </div>
      <div class="form__field">
        <label for="password" class="form__label">Mot de passe :</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="********"
        />
      </div>
      <div class="form__field">
        <button type="submit" class="btn form__login" id="btnConnection">
          Connexion
        </button>
      </div>
    </form>
  </div>
  <% }%>
</div>
