<%- include('./header'); %>
<header class="header">
  <div class="menu" id="menu__section">
    <label class="menu__section"></label>
  </div>
  <div class="header__title"><h1>QuizMastemind</h1></div>
</header>
<%- include('./nav'); %>
<main class="main">
  <section class="section">
    <div class="section__content">
      <p class="notFound">Page non trouvée</p>
    </div>
  </section>
</main>
<%- include('./footer'); %>
