<footer class="footer">
    <p>
        &copy; Penredev - Yoan. Ceci fait partie d'un portfolio, il s'agit d'un site personnel
    </p>
</footer>
    <script src="/js/bundle.js"></script>
</body>
</html>