<%- include('./header'); %>
<header class="header">
    <div class="header--title">
        QuizMastemind
    </div>
</header>
<nav class="nav">
    <div class="nav--menu">
        <ul>
            <li>a</li>
            <li>b</li>
            <li>c</li>
        </ul>
    </div>
</nav>
<main class="main">
    corps
</main>
<%- include('./footer'); %>
    
