<div class="quiz">
  <div class="quiz__presentation">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque voluptate
      reiciendis fuga quod exercitationem adipisci quos, est nisi, hic maiores
      deleniti? Tempora quos voluptates soluta accusamus, a laborum nobis nisi?
    </p>
  </div>
  <div class="quiz__img">
    <img src="#" alt="Image quiz" />
  </div>
</div>
<div class="quiz--inversed">
  <div class="quiz__presentation--inversed">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque voluptate
      reiciendis fuga quod exercitationem adipisci quos, est nisi, hic maiores
      deleniti? Tempora quos voluptates soluta accusamus, a laborum nobis nisi?
    </p>
  </div>
  <div class="quiz__img--inversed">
    <img src="#" alt="Image quiz" />
  </div>
</div>
